
<section class="box">
    <h3 class="titlebox">{{title}} posted {{createdAt}}</h3>

    <h2>{{content}}</h2>
</section>
<div id="comment-form">
<form>
<input type="text" id="add-comment" placeholder="type new comment">
<button class="button-form" id="comment-btn">Comment</button>
</form>
</div>
<script src="/js/post.js"></script>