*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: teal ;
}
header,footer {
    height: 15vh;
    background: teal;
    text-align: right;
}
.nav-bar {
    margin-bottom: 15px;
   
    text-decoration: none;
}
a {
    margin-right: 10px;
    padding: 5px;
}
a:link {
    text-decoration: none;
}
a:hover {
    background-color: brown;
}
a:active {
    background-color: brown;
}

#title{
    border: 0.2rem dashed rgb(26, 47, 37);
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    
}


.post-box {
    border: 0.5rem outset pink;
    /* outline: 0.5rem solid khaki; */
    /* box-shadow: 0 0 0 2rem skyblue; */
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 1rem;
    padding: 1rem;
    outline-offset: 0.5rem;
   
}
.box{
    border: 0.3rem outset rgb(111, 37, 49);
    background: bisque;
}
.titlebox{
    border-bottom: 0.2rem solid rgb(26, 47, 37) ;
    background: rgb(237, 194, 201);
    
}

.button-form{
background: paleturquoise;
margin:1rem;
padding:0.5rem;
}
.post-area {
    border: rgb(111, 37, 49) solid 5px;
    margin:.5rem;
    background: bisque;
}

.title-area {
    border-bottom:0.1rem solid rgb(26, 47, 37) ;
}

.hide {
    display: none;
}

.post-box:hover{
    background-color: bisque;
}

.comment-box {
    border: 5px solid rgb(111, 37, 49);
    background: rgb(237, 194, 201);
    margin: 5px;

}